<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <h2>About Myself</h2>
    <div class="about-content">
    @if (aboutme is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p class="large">@aboutme.Description</p>
        <hr />
        <ul class="skills-list">
        @foreach (var skill in aboutme.Skills)
        {
            <li key="@skill">@skill</li>
        }
        </ul>
        <hr />
        <p class="quote">@aboutme.DetailOrQuote</p>
        @if (aboutme.CurrentlyLearning is not null && aboutme.CurrentlyLearning.Any())
        {
            <hr />
            <div class="currently-learning">
                <h3>Currently learning</h3>
                <ul>
                @foreach (var item in aboutme.CurrentlyLearning)
                {
                    <li key="@item">@item</li>
                }
                </ul>
            </div>
        }
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutme;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        aboutme = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");

    }
}
