<section class="light" id="portfolio">
    <h2>Portfolio</h2>
    <div class="portfolio-container">
    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="portfolio-image-container">
            @if (hero is not null)
            {
                <img src="@(hero.Src)" class="portfolio-hero-image" 
                    alt="@(hero.Alt)" />
            }
        </div>
        <div class="container">
            @foreach (var project in projects)
            {
                <div class="box" key="@project.Title">
                    @if (!string.IsNullOrWhiteSpace(project.Url))
                    {
                        <a href="@project.Url" target="_blank" rel="noopener noreferrer">
                            <h3 class="project-title">@project.Title</h3>
                        </a>
                    }
                    else
                    {
                        <h3 class="project-title">@project.Title</h3>
                    }
                    <p class="small">@project.Description</p>
                </div>
            }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required IHeroImageService HeroImageService { get; set; }

    private List<Project>? projects;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "portfolio");
    }
}
